# Xcode
##
.DS_Store
*.swp
*.lock
*.moved-aside
DerivedData/
*.xcuserstate

# CocoaPods
##
Pods/

# Carthage
##
Carthage/Build

# Swift Package Manager
##
.build/

# Fastlane
##
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Coverage
##
*.gcno
*.gcda
*.gcov

# Profiles
##
*.mobileprovision
*.provisionprofile

# Certificates
##
*.p12

# Logs
##
*.log

# Others
##
xcuserdata/
*.moved-aside
*.xccheckout
*.xcworkspace
!default.xcworkspace
*.plist
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

